<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="../vendor/autoload.php"
    colors="true"
    cacheResult="false"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
>
    <testsuites>
        <testsuite name="DynamicBackendClient PHP Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./</directory>
        </include>
    </source>
</phpunit>
